@import "_variables.scss";

//section 2 animations

@keyframes piuraFade {
  0%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes iquitosFade {
  0%, 100% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
}

@keyframes limaFade {
  0%, 100% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
}

@keyframes cuzcoFade {
  0%, 100% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes piuradotFade {
  0%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes iquitosdotFade {
  0%, 100% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
}

@keyframes limadotFade {
  0%, 100% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
}

@keyframes cuzcodotFade {
  0%, 100% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 50%;
  }
}

//section 4 animations

@keyframes condorFade {
  0%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes cholitoFade {
  0%, 100% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
}

@keyframes llamaFade {
  0%, 100% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
}

@keyframes chiclayoFade {
  0%, 100% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 50%;
  }
}

//

@keyframes pic1Fade {
  0%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes pic2Fade {
  0%, 100% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
}

@keyframes pic3Fade {
  0%, 100% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
}

@keyframes pic4Fade {
  0%, 100% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 50%;
  }
}