@import "_variables.scss";

.cuzco {
  position: absolute;
  transition: all 0.8s;
  @include laptop {
    visibility: hidden;
    opacity: 0;
  }
  @include laptopMin {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0;
  }
}

.cuzco-checkbox {
  display: none;
}

.cuzco-pic-parent {
  @include laptopMin {
    position: relative;
    cursor: pointer;
  }
}

#cuzco-pic {
  height: 25vh;
  width: 22vw;
  top: 59vh;
  left: 81vw;
  transform: translateX(-50%);
  @include laptopMin {
    position: relative;
    left: 0;
    top: 0;
    transform: translateX(0);
    width: 75vw;
  }
}

.cuzco-info {
  position: absolute;
  width: 25vw;
  height: 40vh;
  @include laptopMin {
    display: none;
    position: relative;
    width: 75vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 3vh 0 0;
    opacity: 0;
    height: 0;
  }
  @include laptop {
    left: 81vw;
    top: 10vh;
    transform: translateX(-50%);
  }
}

.cuzco-title {
  position: absolute;
  bottom: 0;
  margin: 0;
  font-family: Rakkas;
  font-size: 4rem;
  @include laptopMin {
    position: relative;
  }
  @include laptop {
    left: 50%;
    transform: translateX(-50%);
  }
}

.cuzco-title:before,
.cuzco-title:after {
  content: "";
  position: absolute;
  width: 120%;
  left: -10%;
  height: 3px;
  background-color: #333;
}

.cuzco-title:before {
  top: 0;
}

.cuzco-title:after {
  bottom: 0;
}

//dot

.dot-cuzco {
  bottom: 38.25vh;
  left: 54.25vw;
}

//hover effects and others (computer)

.cuzco-radio:checked ~ .dot-cuzco {
  background-color: orange;
}

.cuzco-radio:checked ~ .cuzco {
  visibility: visible;
  opacity: 1;
}

//hover effects and others (mobile)

.cuzco-checkbox:checked ~ .cuzco-info {
  @include laptopMin {
    display: block;
    opacity: 1;
    height: auto;
  }
}