@import "_variables.scss";

.section4 {
  position: relative;
  height: 150vh;
}

.gallery {
  position: absolute;
  display: flex;
}

//proceed to put items in here for glalery and whatnot
//think aout the nice yellow border design for this part


//I think about adding a div on the side of red and perhaps making it on more landmarks