@import "_variables.scss";

.section5 {
  position: relative;
  height: 100vh;
  width: 99vw;
}

.gallery {
  position: relative;
  height: 48vh;
  width: 57vw;
  top: 5vh;
}

.gallerypic1 {
  position: absolute;
  width: 57vw;
  top: 50%;
  transform: translate(0, -50%);
  animation: pic1Fade 40s ease-in infinite;
}

.gallerypic2 {
  position: absolute;
  width: 57vw;
  top: 50%;
  transform: translate(0, -50%);
  animation: pic2Fade 40s ease-in infinite;
}

.gallerypic3 {
  position: absolute;
  width: 57vw;
  top: 50%;
  transform: translate(0, -50%);
  animation: pic3Fade 40s ease-in infinite;
}

.gallerypic4 {
  position: absolute;
  width: 57vw;
  top: 50%;
  transform: translate(0, -50%);
  animation: pic4Fade 40s ease-in infinite;
}

@keyframes pic1Fade {
  0%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes pic2Fade {
  0%, 100% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
}

@keyframes pic3Fade {
  0%, 100% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
}

@keyframes pic4Fade {
  0%, 100% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 50%;
  }
}

.landmark1-exp {
  position: relative;
  margin: 0;
  height: 28vh;
  width: 35vw;
  left: 57vw;
  bottom: 34vh;
  padding: 1vh 4vw;
  background-color: #a4331a;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.section5-header {
  position: relative;
  margin: 0;
  bottom: 16vh;
  text-align: center;
  font-family: Rakkas;
  font-size: 3rem;
}

.gallery2 {
  position: relative;
  display: flex;
  height: 30vh;
  bottom: 15vh;
  justify-content: center;
  align-items: center;
}

.condor {
  height: 25vh;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  animation: condorFade 40s ease-in infinite;
}

.cholito {
  position: absolute;
  height: 25vh;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  animation: cholitoFade 40s ease-in infinite;
}

.llama {
  position: absolute;
  height: 25vh;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  animation: llamaFade 40s ease-in infinite;
}

.chiclayo {
  position: absolute;
  height: 25vh;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  animation: chiclayoFade 40s ease-in infinite;
}

@keyframes condorFade {
  0%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes cholitoFade {
  0%, 100% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
}

@keyframes llamaFade {
  0%, 100% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
}

@keyframes chiclayoFade {
  0%, 100% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 50%;
  }
}