@import "_variables.scss";

.map {
    position: relative;
    background-color: #D4AF37;
    height: 100vh;
}

.map-peru {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0,-50%);
}

.map-peru-image {
    height: 50vh;
}

.map-pictures {
    position: absolute; //position: relative is needed in the parent element!!!
    top: 5vh;
    left: 5vw;
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.map-pictures-sites {
    position: relative;
    display: flex;
    height: 20vh;
    //visibility: hidden;
}

.piura {

}

//make two divs, one for the pictures on the top and one for the ones on the bottom.