@import "_variables.scss";

.food {
  position: relative;
  background-color: #d4af37;
  height: 200vh;
}

.food-intro {
  margin: 0;
  box-sizing: border-box;
  border: 5vw solid;
  border-color: #A4331A;
  height: 16vh;
  @include centerObjects;
  font-family: Rakkas;
  font-size: 3rem;
}

.food-collection {
  position: relative;
  background-color: #A4331A;
  border: 10vw solid;
  border-color: #A4331A;
  width: 80vw;
  height: 100vh;
  margin: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include laptop {
    flex-direction: row;
  }
}

.food-collection-2 {
  
}

.food-collection-dish {
  height: 30%;
  width: 95%;
  background-size: 100% 100%;
  transition: all .5s;
  text-align: center;

}

.ceviche {
  background-image: url(../media/Ceviche.jpg);
}

.ceviche-text {
  width: 100%;
  height: 100%;
  ///visibility: hidden;
  margin: 0;
  font-size: 3rem;
  font-family: Rakkas;
}

.ceviche:active {
  filter: blur(5px);
  opacity: .75;
}

//.ceviche-text:active {
  //visibility: visible;
//}

.jalea {
  background-image: url(../media/Jalea.jpg);
}

.jalea-text {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 3rem;
  font-family: Rakkas;
}

.jalea:active {
  filter: blur(5px);
  opacity: .75;
}

.jalea-text:active {
  visibility: visible;
}

.lomoSaltado {
  background-image: url(../media/LomoSaltado.jpg);
}

.lomoSaltado-text {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 3rem;
  font-family: Rakkas;
}

.lomoSaltado:active {
  filter: blur(5px);
  opacity: .75;
}
