@import "_variables.scss";
@import "_animations.scss";

.map-section {
  position: relative;
}

.map-title-span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-family: Rakkas;
  font-size: 8rem;
  text-align: center;
}

.map-title-eng {
  position: absolute;
  left: 50%;
  top: 10rem;
  transform: translateX(-50%);
  margin: 0;
  font-family: Rakkas;
  font-size: 2rem;
  text-align: center;
}

.map-peru {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 20.5vw;//ONLY FOR DESKTOP
}

.map-pictures {
  position: absolute;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.piura {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all .8s;
}

.piura-pic {
  height: 25vh;
  width: 21vw;
  top: 10vh;
  left: 19vw;
  transform: translateX(-50%);
}

.piura-info {
  position: absolute;
  left: 19vw;
  top: 44vh;
  width: 25vw;
  height: 40vh;
  transform: translateX(-50%);
}

.piura-title {
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: Rakkas;
  font-size: 4rem;
}

.piura-title::before, .piura-title::after {
  content: "";
  position: absolute;
  width: 120%;
  left: -10%;
  height: 3px;
  background-color: #333;
}

.piura-title::before {
  top: 0;
}

.piura-title::after {
  bottom: 0;
}

.piura-text {
  position: absolute;
  margin: 0;
  font-family: Rakkas;
  font-size: 2rem;
  text-align: center;
  top: 25%;
}

.iquitos {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all .8s;
}

.iquitos-pic {
  height: 25vh;
  width: 19.75vw;
  top: 10vh;
  left: 81vw;
  transform: translateX(-50%);
}

.iquitos-info {
  position: absolute;
  left: 81vw;
  top: 44vh;
  width: 25vw;
  height: 40vh;
  transform: translateX(-50%);
}

.iquitos-title {
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: Rakkas;
  font-size: 4rem;
}

.iquitos-title::before, .iquitos-title::after {
  content: "";
  position: absolute;
  width: 120%;
  left: -10%;
  height: 3px;
  background-color: #333;
}

.iquitos-title::before {
  top: 0;
}

.iquitos-title::after {
  bottom: 0;
}

.iquitos-text {
  position: absolute;
  margin: 0;
  font-family: Rakkas;
  font-size: 2rem;
  text-align: center;
  top: 25%;
}

.lima {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all .8s;
}

.lima-pic {
  height: 25vh;
  width: 26.25vw;
  top: 59vh;
  left: 19vw;
  transform: translateX(-50%);
}

.lima-info {
  position: absolute;
  left: 19vw;
  top: 10vh;
  height: 40vh;
  width: 25vw;
  transform: translateX(-50%);
}

.lima-title {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: Rakkas;
  font-size: 4rem;
}

.lima-title:before, .lima-title:after {
  content: "";
  position: absolute;
  width: 120%;
  left: -10%;
  height: 3px;
  background-color: #333;
}

.lima-title:before {
  top: 0;
}

.lima-title:after {
  bottom: 0;
}

.lima-text {
  position: absolute;
  margin: 0;
  font-family: Rakkas;
  font-size: 2rem;
  text-align: center;
}

.cuzco {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: all .8s;
}

.cuzco-pic {
  height: 25vh;
  width: 22vw;
  top: 59vh;
  left: 81vw;
  transform: translateX(-50%);
}

.cuzco-info {
  position: absolute;
  left: 81vw;
  top: 10vh;
  height: 40vh;
  width: 25vw;
  transform: translateX(-50%);
}

.cuzco-title {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: Rakkas;
  font-size: 4rem;
}

.cuzco-title:before, .cuzco-title:after {
  content: "";
  position: absolute;
  width: 120%;
  left: -10%;
  height: 3px;
  background-color: #333;
}

.cuzco-title:before {
  top: 0;
}

.cuzco-title:after {
  bottom: 0;
}

.cuzco-text {
  position: absolute;
  margin: 0;
  font-family: Rakkas;
  font-size: 2rem;
  text-align: center;
}

.click {
  transition: all .8s;
}

.click-span {
  position: absolute;
  margin: 0;
  font-family: Rakkas;
  font-size: 2rem;
  left: 50%;
  top: 78vh;
  transform: translateX(-50%);
}

.click-eng {
  position: absolute;
  margin: 0;
  font-family: Rakkas;
  font-size: 1.75rem;
  left: 50%;
  top: 81vh;
  transform: translateX(-50%);
}

//all dots

.map-peru-dots {
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: black;
  border-radius: .5rem;
}

.piura-radio {
  display: none;
}

.dot-piura {
  top: 38.25vh;
  left: 40vw;
  cursor: pointer;
  @include laptopMin {
    top: 27%;
    left: 16.5%;
  //animation: piuradotFade 40s ease-in infinite;
  }
}

.iquitos-radio {
  display: none;
}

.dot-iquitos {
  top: 34.25vh;
  left: 52vw;
  cursor: pointer;
  @include laptopMin {
    right: 38%;
    top: 18%;
  }
  //animation: iquitosdotFade 40s ease-in infinite;
}

.lima-radio {
  display: none;
}

.dot-lima {
  bottom: 42vh;
  left: 46.25vw;
  cursor: pointer;
  @include laptopMin {
    bottom: 31%;
    left: 40%;
  }
  //animation: limadotFade 40s ease-in infinite;
}

.cuzco-radio {
  display: none;
}

.dot-cuzco {
  bottom: 38.25vh;
  left: 54.25vw;
  cursor: pointer;
  @include laptopMin {
    right: 33%;
    bottom: 27.5%;
  }
  //animation: cuzcodotFade 40s ease-in infinite;
}

//all hover effects and others

.map-peru-dots:hover {
  transform: scale(1.5);
}

.map-peru-dots:active {
  transform: scale(1.75);
}

.piura-radio:checked ~ .dot-piura {
  background-color: orange;
}

.piura-radio:checked ~ .piura {
  visibility: visible;
  opacity: 1;
}

.iquitos-radio:checked ~ .dot-iquitos {
  background-color: orange;
}

.iquitos-radio:checked ~ .iquitos {
  visibility: visible;
  opacity: 1;
}

.lima-radio:checked ~ .dot-lima {
  background-color: orange;
}

.lima-radio:checked ~ .lima {
  visibility: visible;
  opacity: 1;
}

.cuzco-radio:checked ~ .dot-cuzco {
  background-color: orange;
}

.cuzco-radio:checked ~ .cuzco {
  visibility: visible;
  opacity: 1;
}

.radio:checked ~ .click {
  opacity: 0;
  visibility: hidden;
}