@import "_variables.scss";

.section4 {
  position: relative;
  height: 100vh;
}

.gallery {
  position: relative;
  display: flex;
  height: 25vh;
  width: 30vw;
  top: 8vh;
}

.landmark1-exp {
  position: relative;
  margin: 0;
  //height: 30vh;
  width: 35vw;
  bottom: 25vh;
  left: 57vw;
  padding: 1vh 4vw;
  background-color: #A4331A;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.peru-gallery {
  position: absolute;
  //margin: 0;
  height: 30vh;
  width: 35vw;
}


//proceed to put items in here for glalery and whatnot
//think aout the nice yellow border design for this part


//I think about adding a div on the side of red and perhaps making it on more landmarks