@import "_variables.scss";

.map {
    background-color: #D4AF37;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

//.map-peru {
//}

.map-peru-image {
    height: 50vh;
}