  
@import "_variables.scss";

.food {
  position: relative;
  @include laptopMin {
    height: 125vh;
  }
}

.food-intro {
  margin: 0;
  @include centerObjects;
  font-family: Rakkas;
  font-size: 3rem;
  @include iphone5 {
    font-size: 2.5rem;
  }
  @include laptop {
    font-size: 10rem;
    height: 16%;
  }
}

.food-intro-english {
  margin: 0;
  text-align: center;
  font-family: Rakkas;
  font-size: 2rem;
}

.food-collection {
  position: relative;
  height: 80%;
  margin: 0;
  display: flex;//width 100% if this messes up
  justify-content: space-around;
  align-items: center;
  @include laptopMin {
    flex-direction: column;
    justify-content: space-between;
    margin: 3vh 0 0;
  }
}

.card {
  position: relative;
  height: 50%;
  width: 28%;
  transition: all .5s ease;
  text-align: center;
  perspective: 150rem;
  @include laptopMin {
    height: 30%;
    width: 85%;
  }
}

.ceviche-checkbox, .jalea-checkbox, .lomo-checkbox {
  display: none;
}

.card-side {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  transition: all 1s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  //border-radius: 2vh;
  //overflow: hidden;
}

.card-side-front {
  z-index: 1;
}

.card-side-back {
  z-index: 0;
  transform: rotateY(-180deg);
  background-color: #ffb347;
}

.card:hover .card-side-front {
  @include laptop {
    transform: rotateY(180deg);
  }
}

.card:hover .card-side-back {
  @include laptop {
    transform: rotateY(0deg);
  }
}

.food-title {
  font-family: Rakkas;
  line-height: 100%;
  font-size: 7vh;
  @include laptopMin {
    font-size: 4vh;
  }
}

.food-description {
  font-size: 2vh;
  margin: auto 1rem;
}

.food-text {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 4rem;
  font-family: Rakkas;
  line-height: 30vh;
  color: black;
}

.food-picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.ceviche-checkbox:checked ~ .ceviche-card .card-side-front{
  @include laptopMin {
    transform: rotateY(180deg);
  }
}

.ceviche-checkbox:checked ~ .ceviche-card .card-side-back {
  @include laptopMin {
    transform: rotateY(0deg);
  }
}

.jalea-checkbox:checked ~ .jalea-card .card-side-front{
  @include laptopMin {
    transform: rotateY(180deg);
  }
}

.jalea-checkbox:checked ~ .jalea-card .card-side-back {
  @include laptopMin {
    transform: rotateY(0deg);
  }
}

.lomo-checkbox:checked ~ .lomo-card .card-side-front{
  @include laptopMin {
    transform: rotateY(180deg);
  }
}

.lomo-checkbox:checked ~ .lomo-card .card-side-back {
  @include laptopMin {
    transform: rotateY(0deg);
  }
}