@import "_variables.scss";

.title {
  background-image: url(../media/IntroPic1.jpg);
  background-size: cover;
  background-position: top -5vh left;
  background-attachment: fixed;
}

.welcome {
  position: relative;
  margin: 0;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  font-family: Rakkas;
  font-style: normal;
  font-weight: normal;
  font-size: 4vh;
  line-height: 5vh;
  width: 65vw;
  text-align: center;
  color: #fbd81f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  @include laptop {
    transform: translate(0, 0);
    left: 0;
    top: 5vh;
    font-size: 72px;
    line-height: 10vh;
    width: 40vw;
  }
}

.header {
  position: absolute;
  height: 5vh;
  width: 99vw;
  top: 0;
}

.welcome-peru {
  background-color: #ca0d0d;
  margin: 0;
  position: absolute;
  height: 5vh;
  width: 16vw;
  text-align: center;
  font-family: Rakkas;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
  line-height: 5vh;
  color: #a02727;
  text-shadow: 0px 0px 2px #E0C8C8;
  @include laptop {
    display: none;
  }
}

.welcome-bar {
  background-color: #ca0d0d;
  position: relative;
  left: 15vw;
  height: 2.5vh;
  width: 85vw;
  @include laptop {
    display: none;
  }
}

//vamonos button

.welcome-button {
  background-color: #ca0d0d;
  display: flex;
  position: relative;
  margin: 0;
  text-align: center;
  line-height: 3vh;
  height: 4vh;
  width: 23vw;
  top: 15vh;
  left: 50vw;
  transform: translate(-50%,0);
  border-radius: 5vw;
  align-content: center;
  text-decoration: none;
  @include laptop {
    display: none;
  }
}

.welcome-button:active {
  transform: translate(-50%,-2px);
  box-shadow: 0 10px 0.5rem rgba(color(black), 0.2);
}

.welcome-button-text {
  margin: 0;
  font-family: Rakkas;
  color: black;
  width: 23vw;
  line-height: 4vh;
}