$desktop: 1100px;
$laptop: 900px;
$tablet: 600px;
$iphone5: 350px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin iphone5 {
  @media (max-width: #{$iphone5}) {
    @content;
  }
}

@mixin centerObjects {
  display: flex;
  justify-content: center;
  align-items: center;
}

//screen size
//colors

$colors: (
  red: #ff5722,
  white: #fff,
  blue: #00b0ff,
  black: #000
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
