.title {
  background-image: url(../media/IntroPic1.jpg);
  background-size: cover;
  height: 100vh;
}

@media (min-width: 900px) {
  .title {
    width: 99vw;
  }
}

.welcome {
  position: relative;
  margin: 0;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: Rakkas;
  font-style: normal;
  font-weight: normal;
  font-size: 4vh;
  line-height: 5vh;
  width: 65vw;
  text-align: center;
  color: #fbd81f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 900px) {
  .welcome {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    left: 46vw;
    top: 30vh;
    font-size: 72px;
    line-height: 10vh;
    width: 40vw;
  }
}

.header {
  position: absolute;
  height: 5vh;
  width: 100vw;
  top: 0;
}

.welcome-peru {
  background-color: #ca0d0d;
  margin: 0;
  position: absolute;
  height: 5vh;
  width: 16vw;
  text-align: center;
  font-family: Rakkas;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
  line-height: 5vh;
  color: #a02727;
  text-shadow: 0px 0px 2px #E0C8C8;
}

.welcome-bar {
  background-color: #ca0d0d;
  position: relative;
  left: 15vw;
  height: 2.5vh;
  width: 85vw;
}

.welcome-button {
  background-color: #ca0d0d;
  position: relative;
  margin: 0;
  text-align: center;
  line-height: 3vh;
  height: 3vh;
  width: 23vw;
  top: 15vh;
  left: 50vw;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 5vw;
}

.map {
  position: relative;
  background-color: #d4af37;
  height: 100vh;
}

.map-peru {
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 10;
}

.map-peru-image {
  height: 50vh;
}

.map-pictures {
  position: absolute;
  top: 5vh;
  left: 5vw;
  height: 90vh;
  width: 90vw;
  text-align: center;
}

.map-pictures-sites {
  position: absolute;
  height: 20vh;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  visibility: hidden;
}

.lima {
  bottom: 0;
}

.cuzco {
  bottom: 0;
}

.map-peru-dots {
  position: absolute;
  height: 1rem;
  width: 1.5rem;
  background-color: black;
  -webkit-clip-path: circle(0.5rem);
          clip-path: circle(0.5rem);
}

.dot-piura {
  top: 27%;
  left: 16.5%;
}

.dot-iquitos {
  right: 38%;
  top: 18%;
}

.dot-lima {
  bottom: 31%;
  left: 40%;
}

.dot-cuzco {
  right: 33%;
  bottom: 27.5%;
}

.food {
  position: relative;
  background-color: #A4331A;
  height: 125vh;
}

.food-intro {
  margin: 0;
  height: 16vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Rakkas;
  font-size: 3rem;
}

.food-collection {
  position: relative;
  width: 80vw;
  height: 100vh;
  margin: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 900px) {
  .food-collection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.food-collection-dish {
  position: relative;
  height: 30%;
  width: 95%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  text-align: center;
}

.food-text {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 4rem;
  font-family: Rakkas;
  line-height: 30vh;
  color: black;
}

.food-picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.ceviche-picture:active {
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: .75;
}

.jalea-picture:active {
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: .75;
}

.lomoSaltado-picture:active {
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: .75;
}

/*.backside-ceviche {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s ease;
  backface-visibility: hidden;
}*/
.section4 {
  position: relative;
  height: 100vh;
}

.gallery {
  position: relative;
  background-size: 57vw;
  background-position-y: center;
  background-image: url(../media/PeruGallery1.jpg);
  background-repeat: no-repeat;
  -webkit-animation: changeBackground 40s ease-in infinite;
          animation: changeBackground 40s ease-in infinite;
  height: 48vh;
  width: 57vw;
  top: 5vh;
}

@-webkit-keyframes changeBackground {
  0% {
    background-image: url(../media/PeruGallery1.jpg);
  }
  20% {
    opacity: 100%;
  }
  25% {
    background-image: url(../media/PeruGallery2.jpg);
    opacity: 50%;
  }
  30% {
    opacity: 100%;
  }
  50% {
    background-image: url(../media/PeruGallery3.jpg);
  }
  75% {
    background-image: url(../media/PeruGallery4.jpg);
  }
}

@keyframes changeBackground {
  0% {
    background-image: url(../media/PeruGallery1.jpg);
  }
  20% {
    opacity: 100%;
  }
  25% {
    background-image: url(../media/PeruGallery2.jpg);
    opacity: 50%;
  }
  30% {
    opacity: 100%;
  }
  50% {
    background-image: url(../media/PeruGallery3.jpg);
  }
  75% {
    background-image: url(../media/PeruGallery4.jpg);
  }
}

.landmark1-exp {
  position: relative;
  margin: 0;
  height: 28vh;
  width: 35vw;
  left: 57vw;
  bottom: 34vh;
  padding: 1vh 4vw;
  background-color: #a4331a;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.gallery2 {
  position: relative;
  height: 45vh;
  bottom: 25vh;
}

.gallery2-top {
  height: 50%;
}

.condor {
  position: relative;
  height: 100%;
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 90% 100%, 10% 100%);
          clip-path: polygon(10% 0%, 90% 0%, 90% 100%, 10% 100%);
  left: -10%;
}

.condor-text {
  position: absolute;
  margin: 0;
  height: 100%;
  width: 30%;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 500vh;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */