.navigation_checkbox {
  display: none;
}

.navigation_button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.navigation_icon {
  position: relative;
  margin-top: 3.5rem;
}

.navigation_icon::before, .navigation_icon::after {
  content: "";
}

.title {
  background-image: url(../media/IntroPic1.jpg);
  background-size: cover;
  height: 100vh;
}

@media (min-width: 900px) {
  .title {
    width: 99vw;
  }
}

.welcome {
  position: relative;
  margin: 0;
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: Rakkas;
  font-style: normal;
  font-weight: normal;
  font-size: 4vh;
  line-height: 5vh;
  width: 65vw;
  text-align: center;
  color: #fbd81f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 900px) {
  .welcome {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    left: 46vw;
    top: 30vh;
    font-size: 72px;
    line-height: 10vh;
    width: 40vw;
  }
}

.header {
  position: absolute;
  height: 5vh;
  width: 100vw;
  top: 0;
}

.welcome-peru {
  background-color: #ca0d0d;
  margin: 0;
  position: absolute;
  height: 5vh;
  width: 16vw;
  text-align: center;
  font-family: Rakkas;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
  line-height: 5vh;
  color: #a02727;
  text-shadow: 0px 0px 2px #E0C8C8;
}

@media (min-width: 900px) {
  .welcome-peru {
    display: none;
  }
}

.welcome-bar {
  background-color: #ca0d0d;
  position: relative;
  left: 15vw;
  height: 2.5vh;
  width: 85vw;
}

@media (min-width: 900px) {
  .welcome-bar {
    display: none;
  }
}

.welcome-button {
  background-color: #ca0d0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0;
  text-align: center;
  line-height: 3vh;
  height: 4vh;
  width: 23vw;
  top: 15vh;
  left: 50vw;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 5vw;
  -ms-flex-line-pack: center;
      align-content: center;
  text-decoration: none;
}

@media (min-width: 900px) {
  .welcome-button {
    display: none;
  }
}

.welcome-button:active {
  -webkit-transform: translate(-50%, -2px);
          transform: translate(-50%, -2px);
  -webkit-box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.2);
}

.welcome-button-text {
  margin: 0;
  font-family: Rakkas;
  color: black;
  width: 23vw;
  line-height: 4vh;
}

.map {
  position: relative;
  background-color: #d4af37;
  height: 100vh;
}

.map-peru {
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.map-peru-image {
  height: 50vh;
  width: 73.5vw;
  z-index: 2;
}

@media (min-width: 900px) {
  .map-peru-image {
    width: auto;
  }
}

.map-pictures {
  position: absolute;
  top: 5vh;
  left: 5vw;
  height: 90vh;
  width: 90vw;
  z-index: 10;
}

.map-boxes {
  position: absolute;
  height: 20vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.piura {
  -webkit-animation: piuraFade 40s ease-in infinite;
          animation: piuraFade 40s ease-in infinite;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes piuraFade {
  0%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes piuraFade {
  0%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }
}

.piura-pic {
  height: 20vh;
}

.piura-text {
  position: absolute;
  margin: 0 .5rem;
  top: 0;
  height: 2rem;
  font-family: Rakkas;
  font-size: 2rem;
}

.iquitos {
  -webkit-animation: iquitosFade 40s ease-in infinite;
          animation: iquitosFade 40s ease-in infinite;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes iquitosFade {
  0%, 100% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
}

@keyframes iquitosFade {
  0%, 100% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
}

.iquitos-pic {
  height: 20vh;
}

.iquitos-text {
  position: absolute;
  margin: 0 .5rem;
  top: 0;
  height: 2rem;
  font-family: Rakkas;
  font-size: 2rem;
}

.lima {
  bottom: 0;
  -webkit-animation: limaFade 40s ease-in infinite;
          animation: limaFade 40s ease-in infinite;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes limaFade {
  0%, 100% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
}

@keyframes limaFade {
  0%, 100% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
}

.lima-pic {
  height: 20vh;
}

.lima-text {
  position: absolute;
  margin: 0 .5rem;
  top: 0;
  height: 2rem;
  font-family: Rakkas;
  font-size: 2rem;
}

.cuzco {
  bottom: 0;
  -webkit-animation: cuzcoFade 40s ease-in infinite;
          animation: cuzcoFade 40s ease-in infinite;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

@-webkit-keyframes cuzcoFade {
  0%, 100% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes cuzcoFade {
  0%, 100% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 50%;
  }
}

.cuzco-pic {
  height: 20vh;
}

.cuzco-text {
  position: absolute;
  margin: .5rem;
  bottom: 4%;
  height: 2rem;
  font-family: Rakkas;
  font-size: 2rem;
}

.map-peru-dots {
  position: absolute;
  height: 1rem;
  width: 1.5rem;
  background-color: black;
  -webkit-clip-path: circle(0.5rem);
          clip-path: circle(0.5rem);
  z-index: 3;
}

.dot-piura {
  top: 27%;
  left: 16.5%;
  -webkit-animation: piuradotFade 40s ease-in infinite;
          animation: piuradotFade 40s ease-in infinite;
}

@-webkit-keyframes piuradotFade {
  0%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes piuradotFade {
  0%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }
}

.dot-iquitos {
  right: 38%;
  top: 18%;
  -webkit-animation: iquitosdotFade 40s ease-in infinite;
          animation: iquitosdotFade 40s ease-in infinite;
}

@-webkit-keyframes iquitosdotFade {
  0%, 100% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
}

@keyframes iquitosdotFade {
  0%, 100% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
}

.dot-lima {
  bottom: 31%;
  left: 40%;
  -webkit-animation: limadotFade 40s ease-in infinite;
          animation: limadotFade 40s ease-in infinite;
}

@-webkit-keyframes limadotFade {
  0%, 100% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
}

@keyframes limadotFade {
  0%, 100% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
}

.dot-cuzco {
  right: 33%;
  bottom: 27.5%;
  -webkit-animation: cuzcodotFade 40s ease-in infinite;
          animation: cuzcodotFade 40s ease-in infinite;
}

@-webkit-keyframes cuzcodotFade {
  0%, 100% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes cuzcodotFade {
  0%, 100% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 50%;
  }
}

.food {
  position: relative;
  background-color: #A4331A;
  height: 125vh;
}

.food-intro {
  margin: 0;
  height: 16vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Rakkas;
  font-size: 3rem;
}

@media (max-width: 350px) {
  .food-intro {
    font-size: 2.5rem;
  }
}

.food-collection {
  position: relative;
  width: 80vw;
  height: 100vh;
  margin: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 900px) {
  .food-collection {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.food-collection-dish {
  position: relative;
  height: 30%;
  width: 95%;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  text-align: center;
}

.food-text {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 4rem;
  font-family: Rakkas;
  line-height: 30vh;
  color: black;
}

.food-picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.ceviche-picture:active {
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: .75;
}

.jalea-picture:active {
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: .75;
}

.lomoSaltado-picture:active {
  z-index: -1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: .75;
}

/*.backside-ceviche {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 1s ease;
  backface-visibility: hidden;
}*/
.section4 {
  height: 100vh;
}

.top {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec4end {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec4img {
  height: 40vh;
}

.top-text {
  margin: 0 5vw;
  font-family: Rakkas;
}

.bottom-text {
  margin: 0 5vw;
  font-family: Rakkas;
}

.barriochino {
  height: 20vh;
  width: 60vw;
}

.end-text {
  margin: 0 5vw;
  font-family: Rakkas;
}

.section5 {
  position: relative;
  height: 100vh;
}

.gallery {
  position: relative;
  height: 48vh;
  width: 57vw;
  top: 5vh;
}

.gallerypic1 {
  position: absolute;
  width: 57vw;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-animation: pic1Fade 40s ease-in infinite;
          animation: pic1Fade 40s ease-in infinite;
}

.gallerypic2 {
  position: absolute;
  width: 57vw;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-animation: pic2Fade 40s ease-in infinite;
          animation: pic2Fade 40s ease-in infinite;
}

.gallerypic3 {
  position: absolute;
  width: 57vw;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-animation: pic3Fade 40s ease-in infinite;
          animation: pic3Fade 40s ease-in infinite;
}

.gallerypic4 {
  position: absolute;
  width: 57vw;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-animation: pic4Fade 40s ease-in infinite;
          animation: pic4Fade 40s ease-in infinite;
}

@-webkit-keyframes pic1Fade {
  0%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes pic1Fade {
  0%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }
}

@-webkit-keyframes pic2Fade {
  0%, 100% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
}

@keyframes pic2Fade {
  0%, 100% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
}

@-webkit-keyframes pic3Fade {
  0%, 100% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
}

@keyframes pic3Fade {
  0%, 100% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
}

@-webkit-keyframes pic4Fade {
  0%, 100% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes pic4Fade {
  0%, 100% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 50%;
  }
}

.landmark1-exp {
  position: relative;
  margin: 0;
  height: 28vh;
  width: 35vw;
  left: 57vw;
  bottom: 34vh;
  padding: 1vh 4vw;
  background-color: #a4331a;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}

.section5-header {
  position: relative;
  margin: 0;
  bottom: 16vh;
  text-align: center;
  font-family: Rakkas;
  font-size: 3rem;
}

.gallery2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  bottom: 15vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.condor {
  height: 25vh;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  -webkit-animation: condorFade 40s ease-in infinite;
          animation: condorFade 40s ease-in infinite;
}

.cholito {
  position: absolute;
  height: 25vh;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  -webkit-animation: cholitoFade 40s ease-in infinite;
          animation: cholitoFade 40s ease-in infinite;
}

.llama {
  position: absolute;
  height: 25vh;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  -webkit-animation: llamaFade 40s ease-in infinite;
          animation: llamaFade 40s ease-in infinite;
}

.chiclayo {
  position: absolute;
  height: 25vh;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  -webkit-animation: chiclayoFade 40s ease-in infinite;
          animation: chiclayoFade 40s ease-in infinite;
}

@-webkit-keyframes condorFade {
  0%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes condorFade {
  0%, 100% {
    opacity: 100%;
  }
  20% {
    opacity: 100%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  99% {
    opacity: 50%;
  }
}

@-webkit-keyframes cholitoFade {
  0%, 100% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
}

@keyframes cholitoFade {
  0%, 100% {
    opacity: 0%;
  }
  20% {
    opacity: 0%;
  }
  24% {
    opacity: 50%;
  }
  25% {
    opacity: 100%;
  }
  45% {
    opacity: 100%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 0%;
  }
}

@-webkit-keyframes llamaFade {
  0%, 100% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
}

@keyframes llamaFade {
  0%, 100% {
    opacity: 0%;
  }
  45% {
    opacity: 0%;
  }
  49% {
    opacity: 50%;
  }
  50% {
    opacity: 100%;
  }
  70% {
    opacity: 100%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 0%;
  }
}

@-webkit-keyframes chiclayoFade {
  0%, 100% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 50%;
  }
}

@keyframes chiclayoFade {
  0%, 100% {
    opacity: 0%;
  }
  70% {
    opacity: 0%;
  }
  74% {
    opacity: 50%;
  }
  75% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }
  99% {
    opacity: 50%;
  }
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 500vh;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */